/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f4f4f3;
}

p {
    margin: 0.5em;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 5em;
    display: flex;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    align-items: center;
    justify-content: center;
}

.anchor {
    position: relative;
}

.textBox {
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 1.2vw;
    float: left;
}

h3 {
    font-size: 1.6em;
    text-decoration: underline;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.shadow {
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow:
        4px 4px 0px #d5d5d5,
        7px 7px 0px rgba(0, 0, 0, 0.2);
}

.fp-controlArrow.fp-prev {
    border-color: transparent #000000 transparent transparent
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #000000
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.border {
    border-style: solid;
    border-width: 0.17em;
}

.list {
    margin-left: 5vw;
}

.alignLeft {
    margin-left: 3vw;
    margin-right: 50vw;
}

.alignRight {
    position: absolute;
    right: 3vw;
    bottom: 3%;
}

.alignRight2 {
    position: absolute;
    right: 3vw;
    bottom: 2%;
}

.alignRight3 {
    position: absolute;
    right: 3vw;
    bottom: 30%;
}

.imageMargin {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.CPUimg {
    max-height: 40%;
    width: auto;
}

.GPUimg {
    max-width: 50%;
    width: auto;
}

.GPUimg2 {
    max-width: 45%;
    width: auto;
}

.sourceList {
    margin-top: 4vh;
    font-size: 1.5em;
    margin-left: 5vw;
    font-weight: bold;
}

.indentedList {
    margin-left: 2vw;
    font-weight: 200;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.sourceLink {
    font-style: italic;
}

.sourceLink:hover {
    color: pink;
}

.small {
    font-size: 1.1em;
}