/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f4f4f3;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 5em;
    display: flex;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    align-items: center;
    justify-content: center;
}

.textBox {
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 1.2vw;

}

h3 {
    font-size: 2.4em;
}

.shadow {
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow:
        4px 4px 0px #d5d5d5,
        7px 7px 0px rgba(0, 0, 0, 0.2);
}

/* Adding Pullup  from bottom, animated when hovered over to display sources cause im a fancy bastard*/
.Sources {
    margin-left: 0vw;
    background-color: white;
    position:absolute;
    bottom:0;
    width:100%;
    height:vh;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
}


.pullUp {
    margin: 0 auto;
    padding: 2em;
    background-color: #f7f7eb;
    position: relative;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transform: translateY(140px);
    transition: all 0.5s ease-in-out;
  }
  
.pullUp:hover {
    transform: translateY(0px);
    }

#pageNumero1 {
    background: url() no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#pageNumero2 {
    background: url() no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}